@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  color: white;
  min-height: 100vh;
  background-size: cover;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/Images/bg-img1.jpg");
}

.glass-container {
  border-radius: 1em;
  backdrop-filter: sepia(0);
  backdrop-filter: blur(6px);
  background-color: #f0f8ff0a;
}

.text-stroke {
  font-style: italic;
  -webkit-text-stroke: 1px cyan;
  color: rgba(0, 255, 255, 0.288);
}

.box-container {
  width: 30vw;
  height: 10vw;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  border: 2px solid white;
}

.text-container {
  min-width: 8vw;
  align-self: center;
  text-align: center;
  border-radius: 15px;
  border: 2px solid white;
}

.card-container {
  width: 28vw;
  height: 35vw;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  border: 2px solid white;
}

/* +++++++++++++++++++++++++++ Buttons +++++++++++++++++++++++++++ */

/* -----------------------------  BUTTON 2 --------------------------- */
#btn2 {
  overflow: hidden;
}

#btn2::after {
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  bottom: -100%;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  transition: all ease 0.4s;
}

#btn2:hover::after {
  bottom: 0;
  border-radius: 0;
}

#text2 p {
  z-index: 10;
  color: white;
  font-weight: 600;
  position: relative;
}

#btn2:hover p {
  color: black;
  font-weight: 600;
}


/* -----------------------------  BUTTON 3 --------------------------- */
#btn3 {
  background-color: #1c1f2b;
  color: #fff;
  overflow: hidden;
}

#btn3::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: -webkit-linear-gradient(left, rgb(255, 255, 255, 0) 0%, rgb(255, 255, 255, 0.4) 50%, transparent 50%);
  top: 0;
  bottom: 0;
  transform: skew(-45deg);
  left: -100%;
  transition: 0.5s;
}

#btn3:hover::before {
  left: 100%;
}


/* -----------------------------  BUTTON 4 --------------------------- */
#btn4 {
  color: #fff;
  overflow: hidden;
  background-color: #2E3192;
}

#btn4::before {
  background-color: #21236C !important;
  transform: skew(-45deg);
  position: absolute;
  transition: 0.5s;
  height: 100%;
  width: 100%;
  left: -110%;
  bottom: 0;
  top: 0;
}

#btn4:hover::before {
  content: "";
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  background-image: none;
  transform: skew(0deg);
  width: 100%;
  height: 100%;
  left: 0%;
}

#button4-svg {
  display: none;
}


/* -----------------------------  BUTTON 5 --------------------------- */



/* +++++++++++++++++++++++++++ BGAnimateComp +++++++++++++++++++++++++++ */

#bg-anim2 {
  animation-name: anime1;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#bg-anim3 {
  width: 25%;
  height: 50%;
  border-radius: 50%;
  animation-name: anime2;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes anime1 {
  from {
    transform: translate(-10%, -10%);
  }

  to {
    transform: translate(10%, 10%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(5%, -10%);
  }

  to {
    transform: translate(0%, 10%);
  }
}

/* ----------------------------- bg-anim2 ----------------------- */
.bubble {
  height: 60px;
  width: 60px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  position: absolute;
  box-shadow: inset 0 0 10px rgba(255, 253, 253, 0.5);
}

.inner-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20%;
  right: 20%;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }

  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}

/* +++++++++++++++++++++++++++ TEXT STYLING +++++++++++++++++++++++++++++++++++++++++ */
.textS {
  font-size: 5vw;
  padding: 0 10px;
  font-weight: bold;
}

/* --------------- text1 ------------------ */
#textS1 {
  color: transparent;
  background-clip: text;
  display: inline-block;
  background-size: cover;
  letter-spacing: -0.5px;
  -webkit-background-clip: text;
  background-image: url(https://media2.giphy.com/media/HkEDr0jVekaZO/giphy.gif?cid=790b76115151ed408a9cae4539eb6351baba5d85998ab783&ct=g&rid=giphy.gif);
}

/* --------------- text2 ------------------ */
#textS2 {
  font-style: italic;
  -webkit-text-stroke: 1px cyan;
  color: rgba(0, 255, 255, 0.288);
}

/* --------------- text3 ------------------ */
#textS3 {
  white-space: nowrap;
  color: #f7ca05;
  text-shadow: 0px 5px 7px rgba(0, 0, 0, 4), 0px -5px 1px #fff;
  letter-spacing: -3px;
}

/* --------------- text4 ------------------  */
#textS4 {
  background-image: linear-gradient(120deg, red, blue);
  background-clip: text;
  border: transparent;
  color: transparent;
}



/* +++++++++++++++++++++++++++ VIDEO CARD STYLING +++++++++++++++++++++++++++++++++++++++++ */
#videoCard1-vid1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#videoCard1-img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all ease-in .3s;
}

#video-container-card1:hover #videoCard1-img {
  opacity: 0;
}


/* +++++++++++++++++++++++++++ CARD COMPONENTS STYLING +++++++++++++++++++++++++++++++++++++++++ */
.card-comp-container {
  position: relative;
  width: 300px;
  height: 200px;
  background: #1c1f2b;
  text-align: center;
  align-content: center;
  border-radius: 10px;
}

/* --------------- card-comp1 ------------------  */
#card-comp1::before {
  content: "";
  position: absolute;
  width: 101%;
  height: 101%;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(45deg, #0033ff, #a8fb01);
}


/* +++++++++++++++++++++++++++ TOGGLE SWITCHES COMPONENTS STYLING +++++++++++++++++++++++++++++++++++++++++ */
.toggle-comp-container {
  position: relative;
  width: 300px;
  height: 200px;
  background: #1c1f2b;
  text-align: center;
  align-content: center;
  border-radius: 10px;
}

#toggle-switch2::after {
  position: absolute;
  content: "";
  rotate: 20deg;
  width: 20px;
  height: 2px;
  left: 100%;
  top: -10px;
  animation-name: ts-anime2;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes ts-anime2 {
  from {
    /* transform: translate(100%, -10%); */
    rotate: 0deg;
    background-color: white;
  }
  via{
    
  }

  to {
    /* transform: translateY(0%, 10%); */
    rotate: 40deg;
    background-color: red;
  }
}