@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  color: white;
  min-height: 100vh;
  background-size: cover;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/Images/bg-img1.jpg");
}

.glass-container {
  border-radius: 1em;
  backdrop-filter: sepia(0);
  backdrop-filter: blur(6px);
  background-color: #f0f8ff0a;
}

.text-stroke {
  font-style: italic;
  -webkit-text-stroke: 1px cyan;
  color: rgba(0, 255, 255, 0.288);
}

.box-container{
  width: 30vw;
  height: 10vw;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  border: 2px solid white;
}

.text-container{
  min-width: 8vw;
  align-self: center;
  text-align: center;
  border-radius: 15px;
  border: 2px solid white;
}

/* +++++++++++++++++++++++++++ Buttons +++++++++++++++++++++++++++ */

/* -----------------------------  BUTTON 2 --------------------------- */
#btn2{
  overflow: hidden;
}

#btn2::after{
  left: 0;
  content: "";
  width: 100%;
  height:100%;
  bottom: -100%;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  transition: all ease 0.4s;
}

#btn2:hover::after{
  bottom: 0;
  border-radius: 0;
}

#text2 p{
  z-index: 10;
  color: white;
  font-weight: 600;
  position: relative;
}

#btn2:hover p{
  color: black;
  font-weight: 600;
}


/* +++++++++++++++++++++++++++ BGAnimateComp +++++++++++++++++++++++++++ */
/* -------------------------- bg-anim1 --------------------------  */
.bg-anim-class1 {
  width: 60%;
  height: 40%;
  filter: blur(20px);
  position: absolute;
  border-top-left-radius: 50%;
  background-color: orangered;
  border-bottom-left-radius: 50%;
}

#bg-anim2{
  animation-name: anime1;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#bg-anim3{
  width: 25%;
  height: 50%;
  border-radius: 50%;
  animation-name: anime2;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes anime1 {
  from {
    transform: translate(-10%, -10%);
  }
  to{
    transform: translate(10%,10%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(5%, -10%);
  }
  to{
    transform: translate(0%,10%);
  }
}


/* +++++++++++++++++++++++++++ TEXT STYLING +++++++++++++++++++++++++++++++++++++++++ */
.textS{
  font-size: 5vw;
  padding: 0 10px;
  font-weight: bold;
}

/* --------------- text1 ------------------ */
#textS1{
  color: transparent;
  background-clip: text;
  display: inline-block; 
  background-size: cover;
  letter-spacing: -0.5px;
  -webkit-background-clip: text;
  background-image: url(https://media2.giphy.com/media/HkEDr0jVekaZO/giphy.gif?cid=790b76115151ed408a9cae4539eb6351baba5d85998ab783&ct=g&rid=giphy.gif);
}

/* --------------- text2 ------------------ */
#textS2 {
  font-style: italic;
  -webkit-text-stroke: 1px cyan;
  color: rgba(0, 255, 255, 0.288);
}

/* --------------- text3 ------------------ */
#textS3{
  white-space: nowrap;
  color: #f7ca05;
  text-shadow: 0px 5px 7px rgba(0, 0, 0, 4), 0px -5px 1px #fff ;
  letter-spacing: -3px;
}

/* --------------- text4 ------------------  */
#textS4{
  background-image: linear-gradient(120deg, red, blue);
  background-clip: text;
  border: transparent;
  color: transparent;
}